<nav class="navbar navbar-expand-lg navbar-light container-lg pt-lg-7 pb-lg-3 py-2a px-lg-2a">
  <div class="container-fluid dropdown d-flex py-lg-4 px-lg-7 justify-content-between border-style">
    <div class="d-flex align-items-center ">
      <!-- logo -->
      <a href="./index.html" class="">
        <img src="../assets/images/logo.png" alt="logo" class="logo-size" />
      </a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
            <li class="d-none nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                <li><a class="dropdown-item dropdown-item-primary" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item  mx-lg-5">
              <!-- 選單紐 -->
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">探索</a>        
              <!-- menu -->
              <div class="dropdown-menu rounded-4 p-0 dropdown-menu-size" aria-labelledby="dropdownMenuLink">
                <div class="d-flex ">
                  <!-- 選單第一層 1-->
                  <div class="p-2a rounded-start-4 border border-1 dropdown-menu-option-width list-group list-group-flush bg-gray-10" data-bs-spy="scroll" id="list-tab" role="tablist" aria-labelledby="dropdownMenuLink">
                    <a href="#" class="ps-5 py-2a pe-2a mb-2 list-group-item list-group-item-gray-10 bg-gray-10 list-group-item-action disabled" tabindex="-1" aria-disabled="true">探索全部</a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-home-list" data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">
                      音樂
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      攝影
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action active" id="list-programming-list" data-bs-toggle="list" href="#list-programming" role="tab" aria-controls="list-programming">
                      程式
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      稈式
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      藝術
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      人文
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      行銷
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      投資理財
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      心靈成長
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      職場技能
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      生活品味
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      生活品味
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      生活品味
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                    <a class="dropdown-item list-group-item list-group-item-gray-10 list-group-item-action" id="list-profile-list" data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">
                      生活品味
                      <span class="material-symbols-outlined">
                        keyboard_arrow_right
                      </span>                  
                    </a>
                  </div>              
                  <!-- 選單第二層 2-->
                  <div class="tab-content" id="nav-tabContent">
                    <!-- 第一個選項 -->
                    <div class="tab-pane h-100 fade show active d-flex" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                      <!-- 選項群 -->
                      <div class="dropdown-menu-option-width border border-end p-2a dropdown-option-size-2 list-group list-group-flush" id="1-list-tab" role="tablist" aria-labelledby="dropdownMenuLink">
                        <a href="#" class="ps-5 py-2a pe-2a mb-2 list-group-item list-group-item-gray-10 list-group-item-action disabled">所有程式</a>
                        <a class="dropdown-item border-0 list-group-item list-group-item-action active" id="1-list-home-list" data-bs-toggle="list" data-bs-auto-close="none" href="#1-list-home" role="tab" aria-controls="list-home">
                          程式入門
                          <span class="material-symbols-outlined">
                            keyboard_arrow_right
                          </span>                                        
                        </a>
                        <a class="dropdown-item border-0 list-group-item list-group-item-action" id="1-list-profile-list" data-bs-toggle="list" data-bs-auto-close="none" href="#1-list-profile" role="tab" aria-controls="list-profile">
                          網頁前端
                          <span class="material-symbols-outlined">
                            keyboard_arrow_right
                          </span>                                        
                        </a>
                        <a class="dropdown-item border-0 list-group-item list-group-item-action" id="1-list-profile-list" data-bs-toggle="list" data-bs-auto-close="none" href="#1-list-profile" role="tab" aria-controls="list-profile">
                          網頁後端
                          <span class="material-symbols-outlined">
                            keyboard_arrow_right
                          </span>                                        
                        </a>
                        <a class="dropdown-item border-0 list-group-item list-group-item-action" id="1-list-profile-list" data-bs-toggle="list" data-bs-auto-close="none" href="#1-list-profile" role="tab" aria-controls="list-profile">
                          網站架設
                          <span class="material-symbols-outlined">
                            keyboard_arrow_right
                          </span>                                        
                        </a>
                        <a class="dropdown-item border-0 list-group-item list-group-item-action" id="1-list-profile-list" data-bs-toggle="list" data-bs-auto-close="none" href="#1-list-profile" role="tab" aria-controls="list-profile">
                          資訊安全
                          <span class="material-symbols-outlined">
                            keyboard_arrow_right
                          </span>                                        
                        </a>
                        <a class="dropdown-item border-0 list-group-item list-group-item-action" id="1-list-profile-list" data-bs-toggle="list" data-bs-auto-close="none" href="#1-list-profile" role="tab" aria-controls="list-profile">
                          程式語言
                          <span class="material-symbols-outlined">
                            keyboard_arrow_right
                          </span>                                        
                        </a>
                        <a class="dropdown-item border-0 list-group-item list-group-item-action" id="1-list-profile-list" data-bs-toggle="list" data-bs-auto-close="none" href="#1-list-profile" role="tab" aria-controls="list-profile">
                          遊戲開發
                          <span class="material-symbols-outlined">
                            keyboard_arrow_right
                          </span>                                        
                        </a>
                        <a class="dropdown-item border-0 list-group-item list-group-item-action" id="1-list-profile-list" data-bs-toggle="list" data-bs-auto-close="none" href="#1-list-profile" role="tab" aria-controls="list-profile">
                          資料科學
                          <span class="material-symbols-outlined">
                            keyboard_arrow_right
                          </span>                                        
                        </a>
                        <a class="dropdown-item border-0 list-group-item list-group-item-action" id="1-list-profile-list" data-bs-toggle="list" data-bs-auto-close="none" href="#1-list-profile" role="tab" aria-controls="list-profile">
                          人工智慧
                          <span class="material-symbols-outlined">
                            keyboard_arrow_right
                          </span>                                        
                        </a>
                        <a class="dropdown-item border-0 list-group-item list-group-item-action" id="1-list-profile-list" data-bs-toggle="list" data-bs-auto-close="none" href="#1-list-profile" role="tab" aria-controls="list-profile">
                          量化分析
                          <span class="material-symbols-outlined">
                            keyboard_arrow_right
                          </span>                                        
                        </a>
                      </div>
                      <!-- 內容群 3-->
                      <div class="tab-content dropdown-menu-content-width pt-2a" id="1-nav-tabContent">
                        <div class="tab-pane fade show active px-5" id="1-list-home" role="tabpanel" aria-labelledby="list-home-list">
                          <h6 class="text-gray-80 mb-3">
                            <img class="icon-m me-2" src="../assets/images/icons/ic_fire.png" alt="ic_fire">
                            熱門網頁前端課程
                          </h6>
                          <div class="">
                            <div class="border-top pt-3 pb-5">
                              <div class="row g-0">
                                <div class="col-md-4">
                                  <div class="card shadow-none border-0">
                                    <img class="card-img rounded-4" src="../assets/images/course-5.png" alt="course-5">
                                    <div class="card-img-overlay pt-1 ps-1 pe-2">
                                      <span class="badge bg-alert-10 text-alert text-style-body-sm rounded-7 lh-base">8 折</span>
                                    </div>                            
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <div class="text-gray-80">
                                    <h6 class="l-spacing-m mb-3">小白也會！從零開始學習 Python 程式設計</h6>
                                    <div class="mb-1 d-flex justify-content-between">
                                      <div class="d-flex align-items-center">
                                        <img class="me-2" src="../assets/images/avatar-2.png" alt="avatar-2">
                                        <span class="">Kelly Hsu</span>
                                      </div>
                                      <div class="">
                                        <span class="d-block text-primary fw-semibold">NT$ 2,480</span>
                                        <span class="d-block text-style-tiny text-end"><del>NT$ 3,200</del></span>
                                      </div>
                                    </div>
                                    <div class="d-flex justify-content-between border-top py-2">
                                      <span class="text-style-body-sm">已有 420 位同學加入</span>
                                      <span class="d-flex align-items-center">
                                        <span class="material-symbols-outlined fill text-warning text-style-tiny">
                                          star
                                          </span>
                                          <strong class="fw-medium">4.0</strong>                                      
                                          <strong class="fw-light">(333)</strong>                                                                            
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="border-top pt-3 pb-5">
                              <div class="row g-0">
                                <div class="col-md-4">
                                  <div class="card shadow-none border-0">
                                    <img class="card-img rounded-4" src="../assets/images/course-5.png" alt="course-5">
                                    <div class="card-img-overlay pt-1 ps-1 pe-2">
                                      <span class="badge bg-alert-10 text-alert text-style-body-sm rounded-7 lh-base">8 折</span>
                                    </div>                            
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <div class="text-gray-80">
                                    <h6 class="l-spacing-m mb-3">小白也會！從零開始學習 Python 程式設計</h6>
                                    <div class="mb-1 d-flex justify-content-between">
                                      <div class="d-flex align-items-center">
                                        <img class="me-2" src="../assets/images/avatar-2.png" alt="avatar-2">
                                        <span class="">Kelly Hsu</span>
                                      </div>
                                      <div class="text-end">
                                        <span class="d-block text-gray-60 fw-semibold">已購買</span>
                                        <span class="d-block text-style-tiny"><del>NT$ 3,200</del></span>
                                      </div>
                                    </div>
                                    <div class="d-flex justify-content-between border-top py-2">
                                      <span class="text-style-body-sm">已有 420 位同學加入</span>
                                      <span class="d-flex align-items-center">
                                        <span class="material-symbols-outlined fill text-warning text-style-tiny">
                                          star
                                          </span>
                                          <strong class="fw-medium">4.0</strong>                                      
                                          <strong class="fw-light">(333)</strong>                                                                            
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="border-top pt-3 pb-5">
                              <div class="row g-0">
                                <div class="col-md-4">
                                  <div class="card shadow-none border-0">
                                    <img class="card-img rounded-4" src="../assets/images/course-5.png" alt="course-5">
                                    <div class="card-img-overlay pt-1 ps-1 pe-2">
                                      <span class="badge bg-alert-10 text-alert text-style-body-sm rounded-7 lh-base">8 折</span>
                                    </div>                            
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <div class="text-gray-80">
                                    <h6 class="l-spacing-m mb-3">小白也會！從零開始學習 Python 程式設計</h6>
                                    <div class="mb-1 d-flex justify-content-between">
                                      <div class="d-flex align-items-center">
                                        <img class="me-2" src="../assets/images/avatar-2.png" alt="avatar-2">
                                        <span class="">Kelly Hsu</span>
                                      </div>
                                      <div class="">
                                        <span class="d-block text-primary fw-semibold">NT$ 2,480</span>
                                        <span class="d-block text-style-tiny text-end"><del>NT$ 3,200</del></span>
                                      </div>
                                    </div>
                                    <div class="d-flex justify-content-between border-top py-2">
                                      <span class="text-style-body-sm">已有 420 位同學加入</span>
                                      <span class="d-flex align-items-center">
                                        <span class="material-symbols-outlined fill text-warning text-style-tiny">
                                          star
                                          </span>
                                          <strong class="fw-medium">4.0</strong>                                      
                                          <strong class="fw-light">(333)</strong>                                                                            
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="1-list-profile" role="tabpanel" aria-labelledby="list-profile-list">2</div>
                      </div>                   
                    </div>
                    <!-- 第二個選項 -->
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
    
                  </div>              
                </div>
              </div>
            </li>            
          </ul>
        </div>
      </div>
      <!-- 搜尋框 -->
      <div class="d-none input-group align-items-center border rounded-5 p-2 focus-outline">        
        <label for="search" class="input-group-text p-0 bg-white border-0">
          <span class="material-symbols-outlined">
            search
          </span>
        </label>
        <input type="text" class="input-fit-placeholder shadow-none border-0 form-control border-start-0 p-0 ms-2 me-7" id="search" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="搜尋各種音樂、數學、程式及設計課程" aria-describedby="search-button">
        <a class="btn btn-sm btn-primary rounded-4" type="button" id="search-button">搜尋</a>
      </div>  
      <div class="d-lg-block d-none d-lg-flex focus-outline border p-2 rounded-5">        
        <label for="search" class="input-group-text p-0 bg-white border-0">
          <span class="material-symbols-outlined">
            search
          </span>
        </label>
        <!-- <input type="text" class="input-fit-placeholder shadow-none border-0 form-control border-start-0 p-0 ms-2 me-7" id="search" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="搜尋各種音樂、數學、程式及設計課程" aria-describedby="search-button"> -->
        <input type="text" class="input-fit-placeholder shadow-none border-0 ms-2 me-7 p-0" id="search" placeholder="搜尋各種音樂、數學、程式及設計課程" aria-label="搜尋各種音樂、數學、程式及設計課程" aria-describedby="search-button">
        <a class="btn btn-sm btn-primary rounded-4" type="button" id="search-button">搜尋</a>
      </div>            
    </div>
    <div class="d-flex">
      <!-- 登入註冊框  -->
      <div class=" d-flex align-items-center gap-lg-3">
        <div class="btn-group">
          <a href="#" class="px-2a py-2 d-flex notifications" id="dropdownMenuButton" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <span class="material-symbols-outlined icon-m">
              notifications
              </span>
            <div class="position-relative">
              <span class="position-absolute top-0 start-100 translate-middle d-block bg-primary rounded-circle badge-sm"></span>
            </div>
          </a>       
          <ul class="dropdown-menu message-style py-5 px-2a bg-gray-40" aria-labelledby="dropdownMenuButton">
            <li>
              <a href="#" class="p-0 d-flex gap-2 text-primary text-style-body-sm outline">
                <span class="material-symbols-outlined fill fs-18">
                  check_circle
                </span>
                全部標記為已讀
              </a>
            </li>
            <li><hr class="dropdown-divider my-3"></li>
            <li>
              <a href="#" class="dropdown-item p-0 d-flex gap-2">
                <div class="">
                  <img class="icon-m img-gray me-2" src="../assets/images/icons/ic_campaign.png" alt="ic_campaign">
                </div>
                <div class="">
                  <span class="d-block">系統通知：6 月 30 日 02:00 網站系統排程更新</span>
                  <span class="d-block text-style-body-sm text-gray-60">4 天前</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-item p-0 d-flex gap-2">
                <div class="">
                  <img class="icon-m img-gray me-2" src="../assets/images/icons/ic_notifications.png" alt="">
                </div>
                <div class="">
                  <span class="d-block">募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！</span>
                  <span class="d-block text-style-body-sm text-gray-60">4 天前</span>
                </div>
              </a>
            </li>
            <li>
              <a href="#" class="dropdown-item p-0 d-flex gap-2">
                <div class="w-fit-content">
                  <img class="icon-m img-gray me-2" src="../assets/images/icons/ic_notifications.png" alt="">
                </div>
                <div class="">
                  <span class="d-block">募資開課：您購買的募資課程已成功開課！將於 3 天後公布課綱！</span>
                  <span class="d-block text-style-body-sm text-gray-60">4 天前</span>
                </div>
              </a>
            </li>
          </ul>
        </div>   
        <a href="#" class="d-flex px-2a py-2">
          <span class="material-symbols-outlined icon-m">
            shopping_cart
          </span>
          <div class="position-relative">
            <span class="position-absolute top-0 start-100 translate-middle text-style-tiny bg-primary text-white text-center rounded-circle badge-m">2</span>
          </div>
        </a>
        <div class="btn-group">
          <a href="#" class="d-lg-block d-none dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="icon-lg" src="../assets/images/avatar-1.png" alt="avatar-1">
            Jessica
          </a>          
          <ul class="dropdown-menu py-5 px-2a" aria-labelledby="dropdownMenuButton">
            <li>
              <a href="#" class="dropdown-item p-0 d-flex gap-2">
                <img class="icon-lg" src="../assets/images/avatar-1.png" alt="avatar-1">
                <div class="">
                  <span class="d-block">Jessica</span>
                  <span class="d-block text-style-body-sm text-gray-60">學習初心者</span>
                </div>
              </a>
            </li>
            <li><hr class="dropdown-divider my-3"></li>
            <li>
              <a class="dropdown-item py-2a px-5 dropdown-item-primary w-fit-content" href="#">
                <img class="icon-m img-gray me-2" src="../assets/images/icons/ic_profile.png" alt="ic_profile">
                個人檔案
              </a>
            </li>
            <li>
              <a class="dropdown-item py-2a px-5 dropdown-item-primary" href="#">
                <img class="icon-m img-gray me-2" src="../assets/images/icons/ic_fav.png" alt="">
                我的收藏
              </a>
            </li>
            <li>
              <a class="dropdown-item py-2a px-5 dropdown-item-primary" href="#">
                <img class="icon-m img-gray me-2" src="../assets/images/icons/ic_setting.png" alt="">
                帳號設定
              </a>
            </li>
            <li><hr class="dropdown-divider my-3"></li>
            <li>
              <a class="dropdown-item py-2a px-5 dropdown-item-primary" href="#">
                <img class="icon-m img-gray me-2" src="../assets/images/icons/ic_order.png" alt="">
                訂單記錄
              </a>
            </li>
            <li>
              <a class="dropdown-item py-2a px-5 dropdown-item-primary" href="#">
                <img class="icon-m img-gray me-2" src="../assets/images/icons/ic_edit.png" alt="">
                作業成果
              </a>
            </li>
            <li><hr class="dropdown-divider my-3"></li>
            <li>
              <a class="dropdown-item py-2a px-5 dropdown-item-primary" href="#">
                <img class="icon-m img-gray me-2" src="../assets/images/icons/ic_logout.png" alt="">
                登出
              </a>
            </li>
          </ul>
        </div>        
      </div>    
      <button class="navbar-toggler border-0 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon fs-6"></span>
      </button>    
    </div>
  </div>
</nav>