<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header-signed-in'); -%>
    <!-- banner -->
    <div class="position-relative mb-lg-9">
      <div class="swiper mySwiper position-relative container-lg px-lg-6 px-0">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide swiper-slide-1 position-relative rounded-lg-6" style="background-image: url(../assets/images/hero-2.png); background-size: cover; background-position: center;">
            <div class="position-absolute bottom-0 start-0 w-100 d-flex flex-column">
              <a href="#" class="bg-white d-flex p-lg-3 py-2 ps-2 pe-5 rounded-7 d-flex align-items-center mx-lg-0 mx-auto mb-lg-6 mb-m w-fit-content">
                <span class="rounded-7 py-2 px-2a bg-primary-tint text-primary text-style-tiny me-2 fw-semibold badge-width-fix">熱銷課程 🔥</span>
                <h5 class="fs-lg-5 text-style-subtitle">給成人的鋼琴入門課，一小時教你彈奏上手！</h5>
              </a>
              <div class="d-lg-block d-none">
                <a href="#" class="btn btn-primary py-lg-6 py-3 banner-border ps-lg-12 pe-lg-10 d-flex text-white w-fit-content-lg">
                  <h1 class="text-style-subtitle fs-lg-1 me-3">探索感興趣的課程，今天立即上課</h1>
                  <span class="material-symbols-outlined fs-great-lg fw-bold">
                    arrow_right_alt
                  </span>
                </a>
              </div>
            </div>
            <a href="#" class="btn btn-primary rounded-0 text-white w-100 d-flex bottom-0 position-absolute d-lg-none d-block justify-content-center py-3">
              <h1 class="text-style-subtitle fs-lg-1 me-3 align-self-center fw-semibold">探索感興趣的課程，今天立即上課</h1>
              <span class="material-symbols-outlined fs-great-lg fw-bold">
                arrow_right_alt
              </span>
            </a>
          </div>
          <div class="swiper-slide swiper-slide-1 position-relative rounded-lg-6" style="background-image: url(../assets/images/hero-1.png); background-size: cover; background-position: center;">
            <div class="position-absolute bottom-0 start-0 w-100 d-flex flex-column">
              <a href="#" class="bg-white d-flex p-lg-3 py-2 ps-2 pe-5 rounded-7 d-flex align-items-center mx-lg-0 mx-auto mb-lg-6 mb-m w-fit-content">
                <span class="rounded-7 py-2 px-2a bg-primary-tint text-primary text-style-tiny me-2 fw-semibold badge-width-fix">熱銷課程 🔥</span>
                <h5 class="fs-lg-5 text-style-subtitle">給成人的鋼琴入門課，一小時教你彈奏上手！</h5>
              </a>
              <div class="d-lg-block d-none">
                <a href="#" class="btn btn-primary py-lg-6 py-3 banner-border ps-lg-12 pe-lg-10 d-flex text-white w-fit-content-lg">
                  <h1 class="text-style-subtitle fs-lg-1 me-3">探索感興趣的課程，今天立即上課</h1>
                  <span class="material-symbols-outlined fs-great-lg fw-bold">
                    arrow_right_alt
                  </span>
                </a>
              </div>
            </div>
            <a href="#" class="btn btn-primary rounded-0 text-white w-100 d-flex bottom-0 position-absolute d-lg-none d-block justify-content-center py-3">
              <h1 class="text-style-subtitle fs-lg-1 me-3 align-self-center fw-semibold">探索感興趣的課程，今天立即上課</h1>
              <span class="material-symbols-outlined fs-great-lg fw-bold">
                arrow_right_alt
              </span>
            </a>
          </div>
          <div class="swiper-slide swiper-slide-1 position-relative rounded-lg-6" style="background-image: url(../assets/images/hero-3.png); background-size: cover; background-position: center;">
            <div class="position-absolute bottom-0 start-0 w-100 d-flex flex-column">
              <a href="#" class="bg-white d-flex p-lg-3 py-2 ps-2 pe-5 rounded-7 d-flex align-items-center mx-lg-0 mx-auto mb-lg-6 mb-m w-fit-content">
                <span class="rounded-7 py-2 px-2a bg-primary-tint text-primary text-style-tiny me-2 fw-semibold badge-width-fix">熱銷課程 🔥</span>
                <h5 class="fs-lg-5 text-style-subtitle">給成人的鋼琴入門課，一小時教你彈奏上手！</h5>
              </a>
              <div class="d-lg-block d-none">
                <a href="#" class="btn btn-primary py-lg-6 py-3 banner-border ps-lg-12 pe-lg-10 d-flex text-white w-fit-content-lg">
                  <h1 class="text-style-subtitle fs-lg-1 me-3">探索感興趣的課程，今天立即上課</h1>
                  <span class="material-symbols-outlined fs-great-lg fw-bold">
                    arrow_right_alt
                  </span>
                </a>
              </div>
            </div>
            <a href="#" class="btn btn-primary rounded-0 text-white w-100 d-flex bottom-0 position-absolute d-lg-none d-block justify-content-center py-3">
              <h1 class="text-style-subtitle fs-lg-1 me-3 align-self-center fw-semibold">探索感興趣的課程，今天立即上課</h1>
              <span class="material-symbols-outlined fs-great-lg fw-bold">
                arrow_right_alt
              </span>
            </a>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-1 bottom-sm d-lg-none "></div>
        <!-- If we need navigation buttons -->
         <div class="d-none d-lg-block">
           <div class="swiper-navigation shadow swiper-button-prev rounded-4 btn btn-light text-primary d-flex p-0">
             <span class="material-symbols-outlined">
               arrow_left_alt
             </span>
           </div>
           <div class="swiper-navigation shadow swiper-button-next rounded-4 btn btn-light text-primary d-flex p-0">
             <span class="material-symbols-outlined">
               arrow_right_alt
             </span>
           </div>        
         </div>
      </div>
    </div>
    <!-- 火熱募資課程 -->
     <div class="py-lg-12 py-10 position-relative">
       <div class="container-lg z-index-lg position-relative">
        <div class="d-flex flex-lg-row flex-column justify-content-between">
          <div class="w-lg-32">
            <div class="mt-lg-13">
              <h1 class="mb-2">火熱募資課程</h1>
              <span class="fs-lg-6 fs-5 text-gray-80">現在購買最優惠✨</span>
              <div class="my-lg-7 my-5 d-lg-flex gap-2a flex-lg-row flex-lg-wrap overflow-x">                
                <a href="#" class="d-inline-block btn btn-sm btn-primary">全部</a>
                <a href="#" class="d-inline-block btn btn-sm btn-outline-gray-40 text-gray-80">🍽️ 烹飪料理</a>
                <a href="#" class="d-inline-block btn btn-sm btn-outline-gray-40 text-gray-80">📊 數據分析</a>
                <a href="#" class="d-inline-block btn btn-sm btn-outline-gray-40 text-gray-80">🎼 音樂製作</a>
                <a href="#" class="d-inline-block btn btn-sm btn-outline-gray-40 text-gray-80">📝 創意寫作</a>
                <a href="#" class="d-inline-block btn btn-sm btn-outline-gray-40 text-gray-80">💬 語言學習</a>
                <a href="#" class="d-inline-block btn btn-sm btn-outline-gray-40 text-gray-80">🖌️ 藝術創作</a>
              </div>
              <button class="d-lg-block d-none btn btn-primary">更多募資課程</button>
            </div>
          </div>
          <!-- Swiper -->
          <div class="w-lg-66 position-relative mySwiper-parent-h">
          <!-- <div class="position-relative bg-dark"> -->
            <div class="swiper mySwiper2 px-lg-5 pb-lg-5">
              <div class="swiper-wrapper">
                <!-- <div class="swiper-slide swiper-slide-2 bg-light card-shadow h-25">Slide 1</div> -->
                <div class="swiper-slide swiper-slide-2">
                  <div class="card border-0 card-shadow position-relative">
                    <img src="../assets/images/course-4.png" class="card-img-top" alt="course-4">
                    <span class="badge fw-semibold rounded-pill text-style-tiny py-2 px-2a bg-primary-tint text-primary position-absolute mt-3 ms-3">優惠倒數 10 天</span>                
                    <div class="card-body py-lg-5">
                      <h5 class="card-title">創意寫作工坊：從靈感到出版的全過程</h5>
                      <div class="card-body text-style-body text-gray-80 p-0 mb-5">
                        <img src="../assets/images/avatar-2.png" class="icon-lg me-2" alt="avatar-2">
                        <span class="l-spacing-m">Kelly Hsu</span>
                      </div>
                      <div class="">
                        <div class="d-flex justify-content-between">
                          <span class="text-primary fw-semibold">募資進度 81 %</span>
                          <span class="text-gray-80">已有 521 位同學加入</span>
                        </div>
                        <div class="progress my-2" style="height: 8px;">
                          <div class="progress-bar" style="width: 81%;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                          <span class="fw-semibold fs-5">NT 2,480</span>
                          <span class="text-style-body-sm text-gray-60"><del>NT 3,200</del></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-2">
                  <div class="card border-0 card-shadow position-relative">
                    <img src="../assets/images/course-1.png" class="card-img-top" alt="course-4">
                    <span class="badge fw-semibold rounded-pill text-style-tiny py-2 px-2a bg-primary-tint text-primary position-absolute mt-3 ms-3">優惠倒數 17天</span>                
                    <div class="card-body py-lg-5">
                      <h5 class="card-title">健康廚房：營養均衡的素食料理指南</h5>
                      <div class="card-body text-style-body text-gray-80 p-0 mb-5">
                        <img src="../assets/images/avatar-3.png" class="icon-lg me-2" alt="avatar-2">
                        <span class="l-spacing-m">希姐帶你吃</span>
                      </div>
                      <div class="">
                        <div class="d-flex justify-content-between">
                          <span class="text-primary fw-semibold">募資進度 281%</span>
                          <span class="text-gray-80">已有1,397 位同學加入</span>
                        </div>
                        <div class="progress my-2" style="height: 8px;">
                          <div class="progress-bar" style="width: 281%;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                          <span class="fw-semibold fs-5">NT$ 1,680</span>
                          <span class="text-style-body-sm text-gray-60"><del>NT$ 2,988</del></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-2">
                  <div class="card border-0 card-shadow position-relative">
                    <img src="../assets/images/course-2.png" class="card-img-top" alt="course-4">
                    <span class="badge fw-semibold rounded-pill text-style-tiny py-2 px-2a bg-primary-tint text-primary position-absolute mt-3 ms-3">優惠倒數9天</span>                
                    <div class="card-body py-lg-5">
                      <h5 class="card-title">音樂製作入門：從零開始創作你的音樂</h5>
                      <div class="card-body text-style-body text-gray-80 p-0 mb-5">
                        <img src="../assets/images/avatar-4.png" class="icon-lg me-2" alt="avatar-2">
                        <span class="l-spacing-m">K.Dee</span>
                      </div>
                      <div class="">
                        <div class="d-flex justify-content-between">
                          <span class="text-primary fw-semibold">募資進度 76%</span>
                          <span class="text-gray-80">已有 420位同學加入</span>
                        </div>
                        <div class="progress my-2" style="height: 8px;">
                          <div class="progress-bar" style="width: 76%;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                          <span class="fw-semibold fs-5">NT$ 2,680</span>
                          <span class="text-style-body-sm text-gray-60"><del>NT$ 3,200</del></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-2">
                  <div class="card border-0 card-shadow position-relative">
                    <img src="../assets/images/course-3.png" class="card-img-top" alt="course-4">
                    <span class="badge fw-semibold rounded-pill text-style-tiny py-2 px-2a bg-primary-tint text-primary position-absolute mt-3 ms-3">優惠倒數 1天</span>                
                    <div class="card-body py-lg-5">
                      <h5 class="card-title">掌握商業攝影：打造你的專業攝影事業</h5>
                      <div class="card-body text-style-body text-gray-80 p-0 mb-5">
                        <img src="../assets/images/avatar-1.png" class="icon-lg me-2" alt="avatar-2">
                        <span class="l-spacing-m">Mikeeee</span>
                      </div>
                      <div class="">
                        <div class="d-flex justify-content-between">
                          <span class="text-primary fw-semibold">募資進度 98%</span>
                          <span class="text-gray-80">已有290位同學加入</span>
                        </div>
                        <div class="progress my-2" style="height: 8px;">
                          <div class="progress-bar" style="width: 98%;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex align-items-center gap-2">
                          <span class="fw-semibold fs-5">NT$ 1,980</span>
                          <span class="text-style-body-sm text-gray-60"><del>NT$ 3,200</del></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination swiper-pagination-2 d-lg-none d-block my-5 position-static"></div>
            </div>
          </div>               
          <button class="d-block d-lg-none btn btn-primary">更多募資課程</button>
        </div>
       </div>
      <img src="../assets/images/deco/flower-2.png" alt="flower-2" class="position-absolute top-0 start-minus-100 flower-2-size">
    </div>
    <!-- 看看大家都買了什麼 -->
    <div class="py-lg-12 py-10 position-relative bg-primary-linear">
      <div class="container-lg p-lg-0">
        <div class="d-flex flex-column align-items-lg-center position-relative">
         <div class="position-relative mb-lg-7 mb-5">
          <div class="z-index-xl position-relative d-flex flex-column justify-content-start">
            <h2 class="mb-2 fs-lg-1">看看大家都買了什麼</h2>
            <span class="fs-lg-6 fs-5 text-gray-80 z-index-xl">熱銷課程一次看！✨</span>
          </div>
          <img src="../assets/images/deco/flower-1.png" class="position-absolute top-0 start-0 translate-middle z-index-sm" alt="flower-1">
         </div>
          <!-- Swiper -->
          <div class="w-100 position-relative mySwiper-parent-h">
            <!-- <div class="position-relative bg-dark"> -->
            <div class="swiper mySwiper2 mySwiper3 pb-lg-5">
              <div class="swiper-wrapper w-100">
                <div class="swiper-slide swiper-slide-3">
                  <div class="card border-0 card-shadow position-relative">
                    <img src="../assets/images/course-4.png" class="card-img-top" alt="course-4">
                    <span class="badge fw-semibold rounded-pill text-style-tiny py-2 px-2a bg-alert-10 text-alert position-absolute mt-3 ms-3">限時 8 折 🔥</span>                
                    <div class="card-body ">
                      <h5 class="card-title m-0">創意寫作工坊：從靈感到出版的全過程</h5>
                      <div class="card-body text-style-body text-gray-80 p-0 d-flex py-3">
                        <div class="w-50">
                          <img src="../assets/images/avatar-2.png" class="icon-lg me-2" alt="avatar-2">
                          <span class="l-spacing-m">Kelly Hsu</span>
                        </div>
                        <div class="w-50 d-flex flex-column text-end">
                          <span class="text-primary fw-semibold fs-5">NT 2,480</span>
                          <span class="text-style-body-sm text-gray-60"><del>NT 3,200</del></span>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between border-top pt-3">
                        <div class="">
                          <span class="d-block mb-1 badge text-style-body-sm rounded-pill py-2 px-2a bg-gray-40 text-gray-80 w-fit-content">中文創作</span>
                          <span class="d-block text-style-body-sm">已有  text-gray-light420 位同學加入</span>
                        </div>
                        <div class="d-flex align-items-center">
                          <span class="material-symbols-outlined fill text-warning text-style-tiny">star</span>
                          <strong class="fw-medium">4.0</strong>                                      
                          <strong class="fw-light">(333)</strong>                                                                            
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-3">
                  <div class="card border-0 card-shadow position-relative">
                    <img src="../assets/images/course-5.png" class="card-img-top" alt="course-5">
                    <span class="badge fw-semibold rounded-pill text-style-tiny py-2 px-2a bg-alert-10 text-alert position-absolute mt-3 ms-3">限時 8 折 🔥</span>                
                    <div class="card-body ">
                      <h5 class="card-title m-0">小白也會！從零𨴴始學習Python 程式設計</h5>
                      <div class="card-body text-style-body text-gray-80 p-0 d-flex py-3">
                        <div class="w-50">
                          <img src="../assets/images/avatar-2.png" class="icon-lg me-2" alt="avatar-2">
                          <span class="l-spacing-m">Kelly Hsu</span>
                        </div>
                        <div class="w-50 d-flex flex-column text-end">
                          <span class="text-primary fw-semibold fs-5">NT 2,480</span>
                          <span class="text-style-body-sm text-gray-60"><del>NT 3,200</del></span>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between border-top pt-3">
                        <div class="">
                          <span class="d-block mb-1 badge text-style-body-sm rounded-pill py-2 px-2a bg-gray-40 text-gray-80 w-fit-content">中文創作</span>
                          <span class="d-block text-style-body-sm">已有 420 位同學加入</span>
                        </div>
                        <div class="d-flex align-items-center">
                          <span class="material-symbols-outlined fill text-warning text-style-tiny">star</span>
                          <strong class="fw-medium">4.0</strong>                                      
                          <strong class="fw-light">(333)</strong>                                                                            
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-3">
                  <div class="card border-0 card-shadow position-relative">
                    <img src="../assets/images/course-6.png" class="card-img-top" alt="course-6">
                    <span class="badge fw-semibold rounded-pill text-style-tiny py-2 px-2a bg-alert-10 text-alert position-absolute mt-3 ms-3">限時 8 折 🔥</span>                
                    <div class="card-body ">
                      <h5 class="card-title m-0">全面掌握 Javascript開發技術</h5>
                      <div class="card-body text-style-body text-gray-80 p-0 d-flex py-3">
                        <div class="w-50">
                          <img src="../assets/images/avatar-2.png" class="icon-lg me-2" alt="avatar-2">
                          <span class="l-spacing-m">Kelly Hsu</span>
                        </div>
                        <div class="w-50 d-flex flex-column text-end">
                          <span class="text-primary fw-semibold fs-5">NT 2,480</span>
                          <span class="text-style-body-sm text-gray-60"><del>NT 3,200</del></span>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between border-top pt-3">
                        <div class="">
                          <span class="d-block mb-1 badge text-style-body-sm rounded-pill py-2 px-2a bg-gray-40 text-gray-80 w-fit-content">中文創作</span>
                          <span class="d-block text-style-body-sm">已有 420 位同學加入</span>
                        </div>
                        <div class="d-flex align-items-center">
                          <span class="material-symbols-outlined fill text-warning text-style-tiny">star</span>
                          <strong class="fw-medium">4.0</strong>                                      
                          <strong class="fw-light">(333)</strong>                                                                            
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-3">
                  <div class="card border-0 card-shadow position-relative">
                    <img src="../assets/images/course-7.png" class="card-img-top" alt="course-7">
                    <div class="card-body ">
                      <h5 class="card-title m-0">HTML& CSS 網頁設計基礎教程</h5>
                      <div class="card-body text-style-body text-gray-80 p-0 d-flex py-3">
                        <div class="w-50">
                          <img src="../assets/images/avatar-2.png" class="icon-lg me-2" alt="avatar-2">
                          <span class="l-spacing-m">Kelly Hsu</span>
                        </div>
                        <div class="w-50 d-flex flex-column text-end">
                          <span class="text-primary fw-semibold fs-5">NT 2,480</span>
                          <span class="text-style-body-sm text-gray-60"><del>NT 3,200</del></span>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between border-top pt-3">
                        <div class="">
                          <span class="d-block mb-1 badge text-style-body-sm rounded-pill py-2 px-2a bg-gray-40 text-gray-80 w-fit-content">中文創作</span>
                          <span class="d-block text-style-body-sm">已有 420 位同學加入</span>
                        </div>
                        <div class="d-flex align-items-center">
                          <span class="material-symbols-outlined fill text-warning text-style-tiny">star</span>
                          <strong class="fw-medium">4.0</strong>                                      
                          <strong class="fw-light">(333)</strong>                                                                            
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide swiper-slide-3">
                  <div class="card border-0 card-shadow position-relative">
                    <img src="../assets/images/course-8.png" class="card-img-top" alt="course-8">
                    <div class="card-body ">
                      <h5 class="card-title m-0">更進一步！深入學習 Node.js與後端開發</h5>
                      <div class="card-body text-style-body text-gray-80 p-0 d-flex py-3">
                        <div class="w-50">
                          <img src="../assets/images/avatar-2.png" class="icon-lg me-2" alt="avatar-2">
                          <span class="l-spacing-m">Kelly Hsu</span>
                        </div>
                        <div class="w-50 d-flex flex-column text-end">
                          <span class="text-primary fw-semibold fs-5">NT 2,480</span>
                          <span class="text-style-body-sm text-gray-60"><del>NT 3,200</del></span>
                        </div>
                      </div>
                      <div class="d-flex justify-content-between border-top pt-3">
                        <div class="">
                          <span class="d-block mb-1 badge text-style-body-sm rounded-pill py-2 px-2a bg-gray-40 text-gray-80 w-fit-content">中文創作</span>
                          <span class="d-block text-style-body-sm">已有 420 位同學加入</span>
                        </div>
                        <div class="d-flex align-items-center">
                          <span class="material-symbols-outlined fill text-warning text-style-tiny">star</span>
                          <strong class="fw-medium">4.0</strong>                                      
                          <strong class="fw-light">(333)</strong>                                                                            
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="d-none d-lg-block">
              <a href="#" class="swiper-navigation shadow swiper-button-prev swiper-button-prev-3 rounded-4 text-primary position-absolute top-50 start-0 translate-middle p-0">
                <span class="material-symbols-outlined">
                  arrow_left_alt
                </span>
              </a>
              <a href="#" class="swiper-navigation shadow swiper-button-next swiper-button-next-3 rounded-4 text-primary position-absolute top-50 start-100 translate-middle p-0">
                <span class="material-symbols-outlined">
                  arrow_right_alt
                </span>
              </a>        
            </div>
          </div>                             
       </div>
      </div>
      <img src="../assets/images/deco/flower-3.png" alt="flower-3" class="position-absolute top-50 start-0 translate-middle">
    </div>
    <!-- 想學什麼嗎？ -->
     <div class="py-lg-12 py-7 px-lg-0 px-2a">
       <div class="rounded-lg-6 mx-auto w-86 bg-primary py-lg-10 py-10 px-lg-0 px-3">
        <div class="container-lg p-0">
          <div class="row d-flex flex-lg-row-reverse align-items-center justify-content-around">
            <div class="col-lg-4 col-12">
              <div class="d-flex flex-lg-row flex-column gap-2 mb-lg-0 mb-7">
                <div class="">
                  <img src="../assets/images/deco/polygon-1.png" alt="polygon-1">
                </div>
                <div class="d-flex flex-column gap-2">
                  <h2 class="fs-1 text-white">想學什麼嗎？</h2>
                  <h2 class="fs-1 text-white">一探究竟。</h2>
                  <img src="../assets/images/deco/line-2.png" alt="line-2">
                </div>
              </div>          
            </div>
            <div class="col-lg-6 col-12">
              <div class="overflow-x">
                <div class="min-w">
                 <div class="row g-5">
                   <div class="col-lg-6 col-3 w-fit-content-mb">
                    <div class="bg-white d-flex p-4 rounded-5a course-box-size">
                      <img class="btn btn-mandarin p-3 rounded-5 me-4" src="../assets/images/icons/megaphoneSimple.png" alt="megaphoneSimple">
                      <div class="d-flex flex-column gap-2">
                        <a href="#" class="d-block text-style-title">網路行銷</a>
                        <span class="d-block text-style-body-sm text-gray-light">342門課程</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-3 w-fit-content-mb">
                    <div class="bg-white d-flex p-4 rounded-5a course-box-size">
                      <img class="btn btn-dark-gray p-3 rounded-5 me-4" src="../assets/images/icons/camera.png" alt="camera">
                      <div class="d-flex flex-column gap-2">
                        <a href="#" class="d-block text-style-title">拍摄剪輯</a>
                        <span class="d-block text-style-body-sm text-gray-light">563門課程</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-3 w-fit-content-mb">
                    <div class="bg-white d-flex p-4 rounded-5a course-box-size">
                      <img class="btn btn-rose p-3 rounded-5 me-4" src="../assets/images/icons/chartBarHorizontal.png" alt="chartBarHorizontal.png">
                      <div class="d-flex flex-column gap-2">
                        <a href="#" class="d-block text-style-title">自我成長</a>
                        <span class="d-block text-style-body-sm text-gray-light">490門課程</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-3 w-fit-content-mb">
                    <div class="bg-white d-flex p-4 rounded-5a course-box-size">
                      <img class="btn btn-violet p-3 rounded-5 me-4" src="../assets/images/icons/penNib.png" alt="penNib">
                      <div class="d-flex flex-column gap-2">
                        <a href="#" class="d-block text-style-title">藝術設計</a>
                        <span class="d-block text-style-body-sm text-gray-light">230門課程</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-3 w-fit-content-mb">
                    <div class="bg-white d-flex p-4 rounded-5a course-box-size">
                      <img class="btn btn-ocean p-3 rounded-5 me-4" src="../assets/images/icons/bugDroid.png" alt="bugDroid">
                      <div class="d-flex flex-column gap-2">
                        <a href="#" class="d-block text-style-title">数據分析</a>
                        <span class="d-block text-style-body-sm text-gray-light">342門課程</span>
                      </div>                    
                    </div>
                  </div>
                  <div class="col-lg-6 col-3 w-fit-content-mb">
                    <div class="bg-white d-flex p-4 rounded-5a course-box-size">
                      <img class="btn btn-tree p-3 rounded-5 me-4" src="../assets/images/icons/creditCard.png" alt="creditCard">
                      <div class="d-flex flex-column gap-2">
                        <a href="#" class="d-block text-style-title">投資理財</a>
                        <span class="d-block text-style-body-sm text-gray-light">486門課程</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-3 w-fit-content-mb">
                    <div class="bg-white d-flex p-4 rounded-5a course-box-size">
                      <img class="btn btn-light-violet p-3 rounded-5 me-4" src="../assets/images/icons/headphones.png" alt="headphones">
                      <div class="d-flex flex-column gap-2">
                        <a href="#" class="d-block text-style-title">音樂創作</a>
                        <span class="d-block text-style-body-sm text-gray-light">283門課程</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-3 w-fit-content-mb">
                    <div class="bg-white d-flex p-4 rounded-5a h-100 course-box-size">
                      <div class="btn btn-primary p-4 rounded-5 me-4 d-flex align-items-center">
                        <span class="material-symbols-outlined text-white">
                          arrow_right_alt
                        </span>
                      </div>
                      <div class="d-flex align-items-center">
                        <a href="#" class="d-block text-style-title">探索更多</a>
                      </div>                    
                    </div>
                  </div>                   
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>      
     </div>
     <!-- 頂尖講師帶你飛 -->
     <div class="py-lg-12 py-10 position-relative overflow-h">
      <div class="container-lg p-lg-0 position-relative">
        <div class="d-flex flex-column align-items-lg-center position-relative">
         <div class="position-relative mb-lg-7 mb-5">
          <div class="z-index-xl position-relative d-flex flex-column justify-content-start">
            <h2 class="mb-2 fs-1">頂尖講師帶你飛</h2>
            <span class="fs-lg-6 fs-5 text-gray-80 z-index-xl">超真實學員評價，這些講師你絕對不能錯過！</span>
          </div>
          <img src="../assets/images/deco/flower-1.png" class="position-absolute top-0 start-0 translate-middle z-index-sm" alt="flower-1">
         </div>
        </div>
        <!-- Swiper -->
        <div class="swiper mySwiper4">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="p-0 position-relative">
                <div class="row justify-content-end">
                  <div class="col-10">
                    <img src="../assets/images/teacher-3.png" class="w-100 position-relative ms-auto z-index-sm" alt="teacher-3">
                  </div>
                </div>
                <div class="row">
                  <div class="col-11">
                    <div class="card-body card-shadow p-5 bg-white rounded-5a position-relative w-fit-content z-index-xl top-sm">
                      <h5 class="card-title mb-5">Mr. Robert</h5>
                      <div class="card-text mb-5">                    
                        <div class="d-flex mb-2">
                          <span class="d-block mb-1 badge text-style-body-sm rounded-pill py-2 px-2a bg-gray-40 text-gray-80 w-fit-content">中文創作</span>
                          <div class="d-flex align-items-center">
                            <span class="material-symbols-outlined fill text-warning text-style-tiny">star</span>
                            <strong class="fw-medium">4.0</strong>                                      
                            <strong class="fw-light">(333)</strong>                                                                            
                          </div>
                        </div>
                        <p>Robert 的線上課程深受學生喜愛。他的教學方法生動有趣，能夠深入淺出地講解複雜的音樂理論，並結合實際演奏技巧，使學生能夠快速進步。</p>
                      </div>
                      <a href="#" class="w-100 btn btn-primary">探索 Mr. Robert 的教學課程</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="p-0 position-relative">
                <div class="row justify-content-end">
                  <div class="col-10">
                    <img src="../assets/images/teacher-1.png" class="w-100 position-relative ms-auto z-index-sm" alt="teacher-1">
                  </div>
                </div>
                <div class="row">
                  <div class="col-11">
                    <div class="card-body card-shadow p-5 bg-white rounded-5a position-relative w-fit-content z-index-xl top-sm">
                      <h5 class="card-title mb-5">Kelly Beck</h5>
                      <div class="card-text mb-5">                    
                        <div class="d-flex mb-2">
                          <span class="d-block mb-1 badge text-style-body-sm rounded-pill py-2 px-2a bg-gray-40 text-gray-80 w-fit-content">英文寫作</span>
                          <div class="d-flex align-items-center">
                            <span class="material-symbols-outlined fill text-warning text-style-tiny">star</span>
                            <strong class="fw-medium">4.8</strong>                                      
                            <strong class="fw-light">(281)</strong>                                                                            
                          </div>
                        </div>
                        <p>Kelly 的教學方式靈活且富有創意，能夠有效
                          提升學生的寫作技巧和自信心。Kelly 注重實
                          用性，針對學生的需求量身打造教學內容，並
                          提供具體的反饋和建議。</p>
                      </div>
                      <a href="#" class="w-100 btn btn-primary">探索 Kelly Beck 的教學課程</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="p-0 position-relative">
                <div class="row justify-content-end">
                  <div class="col-10">
                    <img src="../assets/images/teacher-2.png" class="w-100 position-relative ms-auto z-index-sm" alt="teacher-2">
                  </div>
                </div>
                <div class="row">
                  <div class="col-11">
                    <div class="card-body card-shadow p-5 bg-white rounded-5a position-relative w-fit-content z-index-xl top-sm">
                      <h5 class="card-title mb-5">K. Lee</h5>
                      <div class="card-text mb-5">                    
                        <div class="d-flex mb-2">
                          <span class="d-block mb-1 badge text-style-body-sm rounded-pill py-2 px-2a bg-gray-40 text-gray-80 w-fit-content">音樂創作</span>
                          <div class="d-flex align-items-center">
                            <span class="material-symbols-outlined fill text-warning text-style-tiny">star</span>
                            <strong class="fw-medium">4.8</strong>                                      
                            <strong class="fw-light">(1,245)</strong>                                                                            
                          </div>
                        </div>
                        <p>K.Lee 的教學風格親切且耐心，能夠循序漸進
                          地引導學生進入樂國的世界。學生們紛紛表
                          示，K.Lee 的課程讓他們對音樂產生了濃厚的
                          興趣！
                        </p>
                      </div>
                      <a href="#" class="w-100 btn btn-primary">探索K.Lee 的教學課程</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-4 d-lg-none d-block my-5 position-static"></div>
        </div>
      </div>
      <img src="../assets/images/deco/line-1.png" alt="line-1" class="d-lg-block d-none position-absolute line-1-pos ">
    </div>      
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
